:root {
  --big-img-size:650px;

}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding:0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: darkgray;
}

nav {
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
}

.main{
  width:90%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links a {
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  font-weight: bold;
}

.nav-links a:hover {
  border-bottom: 2px solid black;
  color: black;
}

.nav-links li {
  margin: 0 10px;
}

.content {
  padding: 20px;
}

aside {
  width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: var(--bg-l-col);
  border-radius: 0.25rem;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section img {
  max-width: var(--big-img-size);
}



.card img{
  width:140px;
  height:140px;
  object-fit: cover;
  border-radius: 50%;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:30px;
}

.swiper {
  width: 100%;
  height: 300px;
}


.product-feature{
  background-color: antiquewhite;
  padding:2rem 0rem;
  display: flex;
  justify-content: space-around;
}
.feature-box{
  min-width:10rem;
  width:20rem;
  min-height: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
  cursor: pointer;
}

.feature-box:hover{
  transform: translateY(-2%);
}

.feature-box *{
  text-align: center;
}

.feature-box>.img>img{
  width:100%;
  display: block;
  object-fit: cover;
}


.feature-box>.know-more-btn>button{
  padding:0.5rem 0.75rem;
  background-color: black;
  color:white;
  border-radius: 5px;
  border:none;
  outline: transparent;
  font-size: 1rem;
  cursor: pointer;
}




